/*PUCIT Aggregate Calculator
Developed by: Syed Faateh Sultan Kazmi*/

input {
  border: #2980b9 solid 5px;
  border-radius: 50px;
  text-align: center;
}

.label {
  font-size: 1.3em;
}

hr {
  background-color: #1b3e50;
}

#calculate-button {
  padding: 10px;
  background-color: #2980b9;
  border: solid white 5px;
  color: white;
  font-size: 1.3em;
  border-radius: 50px;
  margin-top: 20px;
}

#calculate-button:hover, #calculate-button:active, #calculate-button:focus {
  background-color: black;
  border: solid #2980b9 5px;
}

#answer {
  font-size: 2.5em;
  margin-top:30px;
  color: #2980b9;
}

.container {
  margin-top: 30px;
}
